name: Automatic testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test_tracker:
    runs-on: ubuntu-latest

    steps:
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev

    - name: Install Qt
      run: sudo apt install -y qtcreator qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3

    - name: Build qmake-file tracker program
      run: cd ./TrackerProgram/Tracker/ && qmake Tracker.pro    
    
    - name: Compile 
      run: cd ./TrackerProgram/Tracker/ && make
    
    - name: Build qmake-file tracker test
      run: cd ./TrackerProgram/TestTracker/ && qmake TestTracker.pro
    
    - name: Create executable tracker file 
      run: cd ./TrackerProgram/TestTracker/ && make

    - name: Run test tracker
      run: cd ./TrackerProgram/TestTracker/ && ./TestTracker
     
  test_modeling_filters:
    runs-on: ubuntu-latest

    steps:
    - name: Install Qt
      run: sudo apt install -y qtcreator qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Build qmake-file modeling filters program
      run: cd ./ModelingOperationFilters/FilterCheckingProgram/ && qmake FilterCheckingProgram.pro
      
    - name: Compile
      run: cd ./ModelingOperationFilters/FilterCheckingProgram/ && make
    
    - name: Build qmake-file modeling filters program
      run: cd ./ModelingOperationFilters/FilterCheckingTest/ && qmake FilterCheckingTest.pro
    
    - name: Create executable modeling filters program file
      run: cd ./ModelingOperationFilters/FilterCheckingTest/ && make

    - name: Run test filters
      run: cd ./ModelingOperationFilters/FilterCheckingTest/ && ./FilterCheckingTest

  test_indicator:
    runs-on: ubuntu-latest

    steps:
    - name: Install Qt
      run: sudo apt install -y qtcreator qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Build qmake-file indicator program
      run: cd ./Indicator/ && qmake Indicator.pro
      
    - name: Compile
      run: cd ./Indicator/ && make
  
  test_locator:
    runs-on: ubuntu-latest

    steps:
    - name: Install Qt
      run: sudo apt install -y qtcreator qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Build qmake-file locator program
      run: cd ./Locator/ && qmake Locator.pro
      
    - name: Compile
      run: cd ./Locator/ && make
      
  test_settings:
    runs-on: ubuntu-latest

    steps:
    - name: Install Qt
      run: sudo apt install -y qtcreator qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Build qmake-file settings program
      run: cd ./Settings/ && qmake Settings.pro
      
    - name: Compile
      run: cd ./Settings/ && make
      
  test_encryption_tools:
    runs-on: ubuntu-latest

    steps:
    - name: Install Qt
      run: sudo apt install -y qtcreator qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
  
    - name: Build qmake-file encryption tools
      run: cd ./DataEncryption/TestCipher/ && qmake TestCipher.pro
    
    - name: Create executable test encryption tools file
      run: cd ./DataEncryption/TestCipher/ && make

    - name: Run test cipher and mac
      run: cd ./DataEncryption/TestCipher/ && ./TestCipher
