name: Automatic testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile_tracker:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev

    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3

    - name: Build qmake-file tracker
      run: cd ./Programs/Tracker/ && qmake Tracker.pro    
    
    - name: Compile 
      run: cd ./Programs/Tracker/ && make
  
     
  compile_analyzer:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Build qmake-file Analyzer
      run: cd ./Programs/Analyzer/ && qmake Analyzer.pro
      
    - name: Compile
      run: cd ./Programs/Analyzer/ && make
    

  compile_indicator:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Build qmake-file indicator
      run: cd ./Programs/Indicator/ && qmake Indicator.pro
      
    - name: Compile
      run: cd ./Programs/Indicator/ && make
  
  compile_radar:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Build qmake-file radar program
      run: cd ./Programs/Radar/ && qmake Radar.pro
      
    - name: Compile
      run: cd ./Programs/Radar/ && make
      
  compile_settings:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Build qmake-file settings program
      run: cd ./Programs/Settings/ && qmake Settings.pro
      
    - name: Compile
      run: cd ./Programs/Settings/ && make

  test_asterix_handler:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev

    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
  
    - name: Build qmake-file test asterix handler
      run: cd ./Tests/TestAsterixHandler/ && qmake TestAsterixHandler.pro
    
    - name: Create executable test asterix handler file
      run: cd ./Tests/TestAsterixHandler/ && make

    - name: Run test asterix handler
      run: cd ./ProgramBuilds/TEST-AsterixHandler/ && ./TestAsterixHandler

  test_filters:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
  
    - name: Build qmake-file test filters
      run: cd ./Tests/TestFilters/ && qmake TestFilters.pro
    
    - name: Create executable test filters file
      run: cd ./Tests/TestFilters/ && make

  test_settings:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
  
    - name: Build qmake-file test settings
      run: cd ./Tests/TestSettings/ && qmake TestSettings.pro
    
    - name: Create executable test settings file
      run: cd ./Tests/TestSettings/ && make

    - name: Run test settings
      run: cd ./ProgramBuilds/TEST-SettingsTracker/ && ./TestSettingsTracker
      
  test_tracker:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
  
    - name: Build qmake-file test tracker
      run: cd ./Tests/TestTracker/ && qmake TestTracker.pro
    
    - name: Create executable test tracker file
      run: cd ./Tests/TestTracker/ && make

    - name: Run test tracker
      run: cd ./ProgramBuilds/TEST-Tracker/ && ./TestTracker
