name: Automatic testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile_tracker:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev

    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake

    - name: Install CMake
      run: sudo snap install cmake

    - name: Get repository code
      uses: actions/checkout@v3

    - name: Compile
      run: cd ./Manage/ && ./compile.sh Tracker
  
     
  compile_analyzer:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Compile
      run: cd ./Manage/ && ./compile.sh Analyzer
    

  compile_indicator:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Compile
      run: cd ./Manage/ && ./compile.sh Indicator
  
  compile_radar:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Compile
      run: cd ./Manage/ && ./compile.sh Radar
      
  compile_settings:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
    
    - name: Compile
      run: cd ./Manage/ && ./compile.sh Settings
      
  test_asterix_handler:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev

    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
  
    - name: Compile
      run: cd ./Manage/ && ./compile.sh TestAsterixHandler
      
    - name: Run tests
      run: cd ./Manage/ && ./run.sh TestAsterixHandler

  test_filters:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
  
    - name: Compile
      run: cd ./Manage/ && ./compile.sh TestFilters
      
    - name: Run tests
      run: cd ./Manage/ && ./run.sh TestFilters
      
  test_settings:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
  
    - name: Compile
      run: cd ./Manage/ && ./compile.sh TestTrackerSettings
      
    - name: Run tests
      run: cd ./Manage/ && ./run.sh TestTrackerSettings
      
  test_tracker:
    runs-on: ubuntu-latest

    steps:
    - name: Update
      run: sudo apt-get update
      
    - name: Install libpcap
      run: sudo apt-get install libpcap-dev
      
    - name: Install Qt
      run: sudo apt install -y qtbase5-dev qt5-qmake cmake
    
    - name: Get repository code
      uses: actions/checkout@v3
      
    - name: Compile
      run: cd ./Manage/ && ./compile.sh TestTracker
      
    - name: Run tests
      run: cd ./Manage/ && ./run.sh TestTracker
      
